<table width="500" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td height="80">
            <a href="{{site_url}}" target="_blank">
                <img src="{{logo_url}}" width="253" border="0"/>
            </a>
        </td>
    </tr>
    <tr>
        <td height="34" style="font-size:14px;">
            Saludos  <strong>{{oferta_name}} {{oferta_lastname}}</strong>,
        </td>
    </tr>
    <tr>
        <td width="248" height="50" style="font-size:16px">
            <img height="15px" width="15px" src="{{check_url}}"><span style="color: #448A44; margin-left: 5px;">Te han adjudicado un proyecto. ¡Felicidades!</span>
        </td>
    </tr>
    <tr>
        T&iacute;tulo de Proyecto: {{proyecto_titulo}}
    </tr>
    <tr>
        Fecha: {{projecto_date}}
    </tr>
    <tr>
        Oferta final ganadora: {{oferta_winner}}
    </tr>
    <tr><br></tr>
    <tr style="font-weight: bold;">
        Pago
    </tr>
    <tr>
        El pago se ha realizado exitosamente para este servicio.
    </tr>
    <tr><br></tr>
    <tr style="font-weight: bold;">
        Comprador
    </tr>
    <tr>
        Nombre: {{client_name}}
    </tr>
    <tr>
        Email: {{client_email}}
    </tr>
    <tr>
        Tel&eacute;fono: {{client_phone}}
    </tr>
    <tr>
        Ubicaci&oacute;n: {{client_location}}
    </tr>
    <tr><br></tr>
    <tr style="font-weight: bold;">
        ¿C&oacute;mo recibo el pago?
    </tr>
    <tr>
        Fototea verificar&aacute; con cada cliente que el servicio haya sido prestado, y en ese momento se liberar&aacute; el pago a tu cuenta bancaria o de paypal que nos facilitaste en tus datos personales.
    </tr>
    <tr>
        ¡Recuerda ser puntual, profesional en tu trato, y cumplir con los niveles de servicio acordados con tu cliente!
    </tr>
    <tr><br></tr>
    <tr>
        &Eacute;xitos,
    </tr>
    <tr>
        El equipo de Fototea.com
    </tr>
</table>