<table width="500" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td height="80">
            <a href="{{site_url}}" target="_blank">
                <img src="{{logo_url}}" width="253" border="0"/>
            </a>
        </td>
    </tr>
    <tr>
        <td height="34" style="font-size:14px;">
            Saludos  <strong>{{client_name}}</strong>,
        </td>
    </tr>
    <tr>
        <td width="248" height="50" style="font-size:16px">
            <img height="15px" width="15px" src="{{check_url}}"><span style="color: #448A44; margin-left: 5px;">Has adjudicado un proyecto. ¡Buen Trabajo!</span>
        </td>
    </tr>
    <tr>
        T&iacute;tulo de Proyecto: {{proyecto_titulo}}
    </tr>
    <tr>
        Fecha: {{projecto_date}}
    </tr>
    <tr>
        Oferta final ganadora: {{oferta_winner}}
    </tr>
    <tr><br></tr>
    <tr style="font-weight: bold;">
        Pago
    </tr>
    <tr>
        Tu pago se ha realizado exitosamente para este servicio.
    </tr>
    <tr><br></tr>
    <tr style="font-weight: bold;">
        Fotógrafo adjudicado
    </tr>
    <tr>
        Nombre: {{photograph_name}}
    </tr>
    <tr>
        Email: {{photograph_email}}
    </tr>
    <tr>
        Tel&eacute;fono: {{photograph_phone}}
    </tr>
    <tr>
        Ubicaci&oacute;n: {{photograph_location}}
    </tr>
    <tr><br></tr>
    <tr style="font-weight: bold;">
        ¡A&uacute;n no le hemos pagado al fot&oacute;grafo!
    </tr>
    <tr>
        Por tu seguridad, el pago no se le entregar&aacute; al fot&oacute;grafo adjudicado hasta que el servicio sea otorgado con &eacute;xito. En ese momento, recuerda calificar y dar como concluido el proyecto.
    </tr>
    <tr><br></tr>
    <tr style="font-weight: bold;">
        ¡Recuerda Calificar!
    </tr>
    <tr>
        Creemos que las calificaciones y experiencias de los usuarios nos permiten tener un mejor Fototea. ¡Si tu servicio ha sido bueno, o malo, por favor h&aacute;znoslo saber a trav&eacute;s del sistema de calificaciones!
    </tr>
    <tr>
        ¡Es muy importante tu opini&oacute;n para la mejora de la comunidad!
    </tr>
    <tr><br></tr>
    <tr>
        &Eacute;xitos,
    </tr>
    <tr>
        El equipo de Fototea.com
    </tr>
</table>