<table width="500" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td height="80">
            <a href="{{site_url}}" target="_blank">
                <img src="{{logo_url}}" width="253" border="0"/>
            </a>
        </td>
    </tr>
    <tr>
        <td height="34">Buen dia, </td>
    </tr>
    <tr>
        <td width="248" height="50">Hemos recibido una consulta de un usuario, con los siguientes datos:</td>
    </tr>
    <tr>
        <td width="248" height="70">
            <p>Nombre: {{nombre}}</p>
            <p>Email: {{email}}</p>
            <p>Asunto: {{asunto}}</p>
            <p>Mensaje: {{mensaje}}</p>
        </td>
    </tr>
    <tr>
        <td height="40">El equipo de Fototea.com</td>
    </tr>
</table>