<table width="500" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td height="80"><a href="{{site_url}}" target="_blank"><img src="{{logo_url}}" width="253" border="0"/></a></td>
    </tr>
    <tr>
        <td height="34">Saludos  {{fullname}}, </td>
    </tr>
    <tr>
        <td width="248" height="50">Has cambiado la dirección de correo electrónico de tu cuenta de Fototea.</td>
    </tr>
    <tr>
        <td width="248" height="50">Luego de realizar la confirmación, el acceso a tu cuenta y todas las notificaciones futuras serán enviadas en este correo electrónico.</td>
    </tr>
    <tr>
        <td width="248" height="70">Para realizar la confirmación has click <a href="{{confirmation_url}}" target="_blank">aqu&iacute;</a>.</td>
    </tr>
    <tr>
        <td height="40">El equipo de Fototea.com</td>
    </tr>
</table>