<table width="500" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td height="80"><a href="{{site_url}}" target="_blank"><img src="{{logo_url}}" width="253" border="0"/></a></td>
    </tr>
    <tr>
        <td height="34" style="font-size:14px;">Saludos  <strong>Administrador</strong>, </td>
    </tr>
    <tr>
        <td width="248" height="50" style="font-size:14px">Hemos recibido un pago de un proyecto con los siguientes datos:</td>
    </tr>
    <tr>
        <td width="248" style="font-size:14px">
            Proyecto: {{project_title}}<br>
            Nombre de Usuario: {{project_user_name}}<br>
            Monto: {{amount}}<br>
            Comision: {{comission}}<br>
            Total: {{total}}<br>
            ID de transaccion: {{transaction_id}}
        </td>
    </tr>
    <tr>
        <td width="248" height="50" style="font-size:14px">Los datos del usuario al que se le debe realizar el pago son los siguientes:</td>
    </tr>
    <tr>
        <td width="248" style="font-size:14px">
            Nombre completo: {{oferta_username}}<br>
            Usuario Paypal: {{user_paypal}}<br>
            Telefono: {{user_phone}}<br>
            Email: {{user_email}}<br>
            Monto a transferir: {{amount_to_transfer}}<br>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td width="248" style="font-size:14px">Recuerda que puedes ingresar al administrador y ver los datos de esta transaccion asi como la confirmacion del pago realizado por el cliente</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>El equipo de Fototea.com</td>
    </tr>
</table>