<table width="500" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td height="80"><a href="{{site_url}}" target="_blank"><img src="{{logo_url}}" width="253" border="0"/></a></td>
    </tr>
    <tr>
        <td height="34" style="font-size:14px;">Saludos  <strong>{{user_name}}</strong>, </td>
    </tr>
    <tr>
        <td width="248" height="50" style="font-size:14px">Hemos recibido un pago por tus servicios prestado en fototea.com. Los datos del pago son los siguientes:</td>
    </tr>
    <tr>
        <td width="248" style="font-size:14px">
            Proyecto: {{project_title}}<br>
            Nombre de usuario: {{project_username}}<br>
            Monto: {{amount}}<br>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td width="248" height="50" style="font-size:14px">Este pago se tramitara en las proximas 72 Horas, y se realizara la transferencia a tu cuenta de Paypal que tengas registrada en tu perfil de Fototea.com, Sino tienes una cuenta de paypal puedes ponerte en contacto con nosotros por el correo pagos@fototea.com</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>El equipo de Fototea.com</td>
    </tr>
</table>