<table width="500" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td height="80"><a href="{{site_url}}" target="_blank"><img src="{{logo_url}}" width="253" border="0"/></a></td>
    </tr>
    <tr>
        <td height="34" style="font-size:14px;">Saludos  <strong>{{username}}</strong>, </td>
    </tr>
    <tr>
        <td width="248" height="50" style="font-size:14px">Has sido calificado por el proyecto <span style="font-weight:bold;">{{project_title}}</span>. Recuerda que debes calificar al proyecto para confirmar la realización del servicio y liberar el pago. <br><br>Califica tus proyectos haciendo click <a href="{{proyects_url}}" target="_blank">aquí</a>.</td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td>El equipo de Fototea.com</td>
    </tr>
</table>