<table width="500" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td height="80"><a href="{{site_url}}" target="_blank"><img src="{{logo_url}}" width="253" border="0"/></a></td>
    </tr>
    <tr>
        <td height="34">Saludos  {{nombre}}, </td>
    </tr>
    <tr>
        <td width="248" height="50">Has solicitado la recuperaci&oacute;n de tu contrase&ntilde;a. Para completar el proceso debes ingresar en el siguiente link y reiniciar tu contrase&ntilde;a:</td>
    </tr>
    <tr>
        <td width="248" height="70">Reinicia tu contrase&ntilde;a <a href="{{recuperar_url}}" target="_blank">aquí</a>.</td>
    </tr>
    <tr>
        <td height="40">El equipo de Fototea.com</td>
    </tr>
</table>