<table width="500" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td height="80"><a href="{{site_url}}" target="_blank"><img src="{{logo_url}}" width="253" border="0"/></a></td>
    </tr>
    <tr>
        <td height="34">Saludos  {{nombre}}, </td>
    </tr>
    <tr>
        <td width="248" height="50">Has completado el registro en Fototea con &eacute;xito, s&oacute;lo falta que confirmes tu cuenta y empieces a disfrutar de nuestros servicios.</td>
    </tr>
    <tr>
        <td width="248" height="70">Confirma tu cuenta <a href="{{confirmacion_url}}" target="_blank">aqu&iacute;</a>.</td>
    </tr>
    <tr>
        <td height="40">El equipo de Fototea.com</td>
    </tr>
</table>